/* Main Style */

a {
	color: #000000;
	text-decoration: none;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

a:hover {
	color: #9b9b9b;
}

#sketch-holder {
	text-align: center;
}

.title {
	color: #333333;
	text-align: center;
	margin: 20px auto 15px;
	width: 100%;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 36px;
	font-weight: 400;
}

.text {
	text-align: justify;
	margin: 0px auto;
	max-width: 600px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.textbold {
	font-weight: 500;
	font-size: 20px;
	display: inline;
}

/* Buttons */

.buttons {
	width: 100%;
	text-align: center;
}

.button-style {
	background-color: #79b6be;
	border: none;
	color: #333333;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	width: 15%;
	padding: 10px 15px;
	margin: 5px 15px 20px;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.button-style:hover {
	background-color: #92c1c7;
}

/* Main Text Containers */

#partone {
	/* display: none; */
	margin-bottom: 30px;
}

#parttwo {
	/* display: none; */
	margin-bottom: 30px;
}

#partthree {
	/* display: none; */
	margin-bottom: 30px;
}

#partfour {
	/* display: none; */
	margin-bottom: 30px;
}

#partfive {
	/* display: none; */
	margin-bottom: 30px;
}


#partsix {
	/* display: none; */
	margin-bottom: 30px;
}

/* Unlock Buttons */

#unlockone {
	display: none;
}

#unlocktwo {
	display: none;
}

#unlockthree {
	display: none;
}

#unlockfour {
	display: none;
}

#unlockfive {
	display: none;
}

/* Instructions */

.introduction {
	max-width: 625px;
	margin: auto;
	position: relative;
}

.main {
	display: none;
}

h3 {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
}